[class^="col-xs-"], [class*=" col-xs-"],
[class^="col-sm-"], [class*=" col-sm-"],
[class^="col-md-"], [class*=" col-md-"],
[class^="col-lg-"], [class*=" col-lg-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.section {
    margin-bottom: 50px;
}

#contens1_num1, #contens1_num2 {
    color: #FF0000;
}

.color_red {
    color: #FF0000;
}

.section.contents3 ul li {
    color: #0000FF;
}

.section input[type='text'] {
    font-size: 6px;
}
