{% extends "base.html" %}

{% block title %}テンプレート：テスト{% endblock title %}

{% block extrahead %}
<script>
    $(function() {

    });
</script>
<style>
    table {
        margin-top: 8px;
    }
    i {
        margin: 0 2px 0 2px;
    }
</style>
{% endblock %}

{% block content %}

    <div class="title">
        <h3 class="page-header">
            テスト
        </h3>
    </div>

    <div class="contents_wrap">
        <div class="section contents1">
            <ul>
                <li id="contens1_num1">111</li>
                <li id="contens1_num2">222</li>
            </ul>
            <p>コンテンツ１（pタグ）</p>
        </div>

        <div class="section contents2">
            <ul >
                <li class="warning">aaa</li>
                <li class="warning">bbb</li>
            </ul>
            <ul>
                <li>ccc</li>
                <li>ddd</li>
            </ul>
        </div>

        <div class="section contents3">
            <ul>
                <li>AAA</li>
                <li>BBB</li>
            </ul>
            <ul>
                <li>CCC</li>
                <li>DDD</li>
            </ul>
            <ul>
                <li>EEE</li>
                <li>FFF</li>
            </ul>
            <p>コンテンツ３（pタグ）</p>

            <input type="text" value="abc">
        </div>
    </div>

    <div class="row_wrap">
        <div class="section row1">
            <div class="row">
                <div class="col-md-3">3</div>
                <div class="col-md-3">6</div>
                <div class="col-md-3">9</div>
                <div class="col-md-3">12</div>
                <div class="col-md-6">6</div>
                <div class="col-md-6">12</div>
            </div>
        </div>

        <div class="section row2">
        </div>
    </div>
{% endblock content %}
