{% extends "base.html" %}

{% block content %}

{% if form.errors  %}
    <div class="alert alert-danger" role="alert">
      <p>Your usernamne and password didn't match. Please try again.</p>
    </div>
{% endif %}

<div class="panel panel-primary" style="width: 250px;">
    <div class="panel-body">
        <form action="{% url 'accounts:login' %}" method="post" role="form">
            {% csrf_token %}
            <div class="input-group" style="margin-top: 5px">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input id="id_username" name="username" type="text" value="" maxlength="128" placeholder="Username" aria-describedby="sizing-addon1" autofocus required/>
            </div>
            <div class="input-group" style="margin-top: 5px">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <input id="id_password" name="password" type="password" value="" maxlength="128" placeholder="Pasword" aria-describedby="sizing-addon1" required/>
            </div>

            <div style="margin-top: 5px">
                <button type="submit" class="btn btn-sm btn-primary">Login</button>
                <input name="next" type="hidden" value="{{ next }}"/>

                <a href="{% url 'accounts:create' %}" style="margin-left: 10px;">ユーザ登録はこちら</a>
            </div>
        </form>
    </div>

</div>
{% endblock %}
